@font-face {
  font-family: 'neon_80sregular';
  src: url('neon-webfont.woff2') format('woff2'), url('neon-webfont.woff') format('woff');
  font-family: 'streamster';
  src: url('Streamster.ttf');
  font-weight: normal;
  font-style: normal;
}

/*The Virtual Galleria sign at the exhibit entrance is animated in CSS*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }

  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(229, 88, 244, 1);
    ;
  }
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@keyframes lds-blocks {
  0% {
    background: #e558f4;
  }

  12.5% {
    background: #e558f4;
  }

  12.625% {
    background: #efefef;
  }

  100% {
    background: #efefef;
  }
}

@-webkit-keyframes lds-blocks {
  0% {
    background: #e558f4;
  }

  12.5% {
    background: #e558f4;
  }

  12.625% {
    background: #efefef;
  }

  100% {
    background: #efefef;
  }
}

/*Open-sans doesn't support katakana, hiragana, or kanji*/
.japanese {
  font-family: 'Noto Sans JP', sans-serif;
}

/*Content width can be edited in queries and margins will update automatically*/
:root {
--content-width: 90vw;
--margin-total: calc(100vw - var(--content-width));
--margin-calc: calc(var(--margin-total) / 2);
--content-margin: 0 var(--margin-calc) 0 var(--margin-calc);
background: #640064;
font-family: 'Open Sans', sans-serif;
color: white;
scroll-behavior: smooth;
transition: all 500ms ease-in-out 0ms;
font-size: 16px;
}

body {
margin: 0;
padding: 0;
}

#content, #intro, .text-stack, .slide, .spacer, .single-exhibit, .leftright {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#vbg {
width: 100vw;
height: 100vh;
object-fit: fill;
filter: brightness(0.5);
}

#intro {
position: absolute;
top: 0;
width: 100vw;
height: 100vh;
}

.text-stack {
height: 85vh;
margin-top: -18vh;
}

h1 {
margin-top: -1rem;
font-family: 'streamster';
color: #e558f4;
font-size: 12vw;
text-shadow: 0px 0px 5px #E69EEE;
user-select: none;
animation: letter-flicker 3s linear infinite;
}

h2 {
text-align: center;
text-shadow: 3px 3px 5px black;
}

h4 {
margin-left: -8rem;
font-size: 4.5vw;
text-shadow: 3px 3px 5px black;
text-align: center;
}


.slide {
height: 10vh;
font-size: 4.5vw;
}

.slide a {
text-decoration: none;
text-shadow: 3px 3px 5px black;
color: white;
}

.spacer {
height: 80vh;
}

.lead-line {
width: 54.9vw;
border-right: 1px solid white;
}

.text {
padding: var(--content-margin);
}

.single-exhibit{
width: 100vw;
}

.leftright {
}

.medium {
display: flex;
overflow-x: hidden;
flex-flow: column;
}

.small {
display: flex;
flex-flow: column;
max-width: 30vw;
padding: 3vw;
}

#begin, #immaculate-conception {
height: 85vh;
}









